.competencies {
  padding-top: 60px;
}

.competencies-list {
  @extend %list;
}

.competencies-list .item {
  width: 100%;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.competencies-list .icon-wrapper {
  @include flex(inline-flex);
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: $secondaryBgColor;
  border-radius: 4px;
}

.competencies-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: $mainHeadingColor;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.competencies-list .description {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

@media screen and (min-width: $tablet) {
  .competencies-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .competencies-list .item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: $desktop) {
  .competencies-list .item {
    width: calc((100% - 8 * 15px) / 4);
  }
}
