footer {
  background-color: #2f303a;
  padding-top: 46px;
}

.main-wrapper {
  @include flex(flex, baseline, space-between);
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
