$textColor: #757575;
$mainHeadingColor: #212121;
$secondaryHeadingColor: #ffffff;
$accentColor: #2196f3;
$mainBgColor: #ffffff;
$secondaryBgColor: #f5f4fa;
$mainFont: "Roboto", sans-serif;
$secondaryFont: "Raleway", sans-serif;
